body{
  background-color: #04a6eb;
  color: #fdffff;
}
.ugokasuDoA{
  animation: ugokasuDoAanimation 2s ease-in 1;
  /* するでを選択したとこにページを上に上げるアニメーション */
}
@keyframes ugokasuDoAanimation{
  0%{
    top: 0%;
  }
  100%{
    top:-1000%;
  }
}
#ugokasu{
  position: fixed;
  background-color: rgb(28, 135, 228);
  border-bottom: 10px solid #333;
  text-align: center;
  margin: auto 0px;
  top: 0px;
  font-size: 25px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#ugokasu button{
  border: 1px solid #333
}
main {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
button {
  padding: 5px 20px;
  background-color: #337ab7;
  color: #fdffff;
  border-color: rgb(28, 135, 228);
  border-style: none;
  cursor: pointer;
  transition: 200ms;
  border-radius:8px;
  height: 40px;
  font-size: 16px;
}
button:hover {
  box-shadow: 5px 5px 3px #333333;
  transform: scale(1.1)
}
button:active {
  box-shadow: 2px 2px 3px #333333;
  transform: scale(1.05)
}
input {
  height: 20px;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 16px;
}

p {
  font-size: 18px;
}
.addresult-area{
/* border: 1px solid #666; */
font-size: 40px;
margin: auto;
width: 350px;
animation-name: addresultAreaAnimation;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
margin-top:40px;
text-align: center;
}
@keyframes addresultAreaAnimation {
  0%{
    transform: rotate(1deg);
  }
  50%{
    transform: rotate(-1deg);
  }
  100%{
    transform: rotate(1deg);
  }
}
.addresult-area h2:after{
  content: "";
  animation-name: addresultAreaAfterAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes addresultAreaAfterAnimation{
  0%{
    content: "";
  }
  25%{
    content: ".";
  }
  50%{
    content: "..";
  }
  75%{
    content: "...";
  }
}

