body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
button {
  padding: 5px 20px;
  background-color: #337ab7;
  color: #fdffff;
  border-color: rgb(28, 135, 228);
  border-style: none;
  cursor: pointer;
  transition: 200ms;
  border-radius:8px;
  height: 40px;
  font-size: 16px;
}
button:hover {
  box-shadow: 3px 3px 3px #333333;
}
input {
  height: 20px;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 16px;
}

p {
  font-size: 18px;
}
.addresult-area{
/* border: 1px solid #666; */
font-size: 40px;
margin: auto;
width: 350px;
animation-name: addresultAreaAnimation;
animation-duration: 2s;
animation-iteration-count: infinite;
margin-top:40px;
text-align: center;
}
@keyframes addresultAreaAnimation {
  0%{
    transform: rotate(1deg);
  }
  50%{
    transform: rotate(-1deg);
  }
  100%{
    transform: rotate(1deg);
  }
}
.addresult-area h2:after{
  content: "";
  animation-name: addresultAreaAfterAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes addresultAreaAfterAnimation{
  0%{
    content: "";
  }
  25%{
    content: ".";
  }
  50%{
    content: "..";
  }
  75%{
    content: "...";
  }
}
.addresult-area h3{
  font-size: 20px;
}